.CardsContainerBlock{
    padding-top: 40px;
    grid-gap:30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cardsBlock{
 width: 6px;
}

.cards-img{
}
.grad-name{

}
.GraduatesBlock{

}

@media  screen and (max-width: 1130px) {
    .CardsContainerBlock{
        padding-top: 40px;
        grid-gap:30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media  screen and (max-width: 900px) {
    .CardsContainerBlock{
        padding-top: 40px;
        grid-gap:30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media  screen and (max-width: 500px) {
    .CardsContainerBlock{
        padding-top: 40px;
        grid-gap:30px;
        display: grid;
        grid-template-columns: 1fr;
    }
}