.CardsContainerBlock{
    padding-top: 40px;
    grid-gap:30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cardsBlock{
 width: 6px;
}
.results-display{
    color:rgb(52, 71, 103);
    font-weight: bold;
    font-size: 30px;
    width: 30rem;
}