.SearchBlock{
    /* display: grid; */
    grid-template-columns: 1fr 1fr 1fr;
    /* text-align: center; */
    font-size: 3rem;
    /* height: 20px; */
    padding-top: 9px;
    margin-top: 6rem;


}

.search-title{
    font-size: 1.5rem;
    /* color: rgb(52, 71, 103); */
    color: rgb(212, 212, 212);
}

input{
    border: solid 4px;
    border-radius: 2rem;
    padding-left: 10px;
}
