.SearchBlock{
    font-size: 3rem;
    padding-top: 2rem;
    margin-top: 6rem;


}

.search-title{
    font-size: 1.5rem;
    /* color: rgb(52, 71, 103); */
    color: rgb(212, 212, 212);
}

input{
    border: solid 4px;
    border-radius: 2rem;
    padding-left: 10px;
}
