.SearchBlock{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 25px;
    height: 13vh;
    padding-top: 9px;


}

input{
    border: solid 4px;
    border-radius: 2rem;
    padding-left: 10px;
}
