.Hire-Me {
  color: #d12f2f;
  padding: 40px 0px 40px 0px;
  margin-bottom: 100px;
  width: 20rem;
  font-size: 2.5rem;
  background: linear-gradient(rgb(32, 43, 63), rgb(11, 75, 158));
  border-radius: 10px;
}
.me {
  color: #fff;
  font-size: 2.5rem;
}
#Hire-Me-box {
  margin-bottom: 9rem;
}
.lead {
  color: rgb(123, 128, 154);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  padding-top: 10px;
}
.Graduates {
  font-weight: bold;
  margin-left: 6px;
  color: rgb(52, 78, 103);
}

.Graduates:hover {
  color: black;
}

#card {
  width: 25rem;
  height: 26rem;
  margin-top: 170px;
  border-radius: 10px;
  background-size: cover;
  background-color: #ffffffac;
  border: 1px solid #ccc;
  padding: 20px;
}

#container1 {
  height: 90vh;
}
