.SUTitleBlock{
    background-color: rgb(7, 7, 7);
    padding-top: 50%;
    font-family: 'Young Serif', serif;
    font-size: x-large;
}

.HireColor{
    color: red;
    padding-right: 5px;
    font-weight: bold;
}
.MeColor{
    color: white;
    font-weight: bold;
}
.SUGitHubBlock{
    background-color:rgb(7, 7, 7);
    color: white;
}
.MyButton{
    background-color: red;
    border:solid 0px;
    border-radius: 1rem;
}

 .SULinkBlock{
    justify-content: center;
    padding-top: 20%;
    color:white;
    

} 

.SUFooterBlock{
    display: grid;
    color:red;
    background-color: rgb(7, 7, 7);
}

